/* REGOLE GENERALI */
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}


/* HEADER */
header{
    background-color: #2c3e50;
}

/* MAIN */
#jumbotron{
    background-color: #1abc9c;
}

#jumbotron img{
    width: 20%;
    height: auto;
}

.star{
    vertical-align: middle;
}

.star::before, 
.star::after{
    content: "";
    width: 10%;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

.star-dark::before, 
.star-dark::after{
    content: "";
    width: 10%;
    height: 3px;
    border-radius: 2px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}



#portfolio img{
    width: 100%;
    height: auto;
}

#about{
    background-color: #1abc9c;
}

.input-style{
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0%;
}

button.green-color{
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

/* FOOTER */
#footer-top{
    background-color: #3a546d;
}

a.green-color{
    color: #1abc9c;
}

#footer-bottom{
    background-color: #2c3e50;
}